@import "variables/_colors.scss";
@import "variables/_screen_sizes.scss";
@import "global/_reset.scss";
@import "variables/_font.scss";
@import "global/_typography.scss";

@import "components/nav.scss";
@import "components/hero.scss";
@import "components/opening-hours.scss";
@import "components/menu.scss";
@import "components/loading.scss";
@import "components/footer.scss";
@import "components/booking.scss";
