.drinks {
  position: relative;
  z-index: 20;
}

.drinks-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: $off-black;
  opacity: 0.25;
  z-index: 20;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-shadow: 2px 0 $white;
  font-size: calc(90vw / 3);
}

.table-container {
  position: fixed;
  top: 0;
  height: 100vh;
  img {
    height: 100%;
    width: 100vw;
  }
  .btn {
    position: absolute;
    top: var(--spacing-32);
    background-color: transparent;
    color: $white;
    border: none;
    h3 {
      font-weight: 700;
    }
  }
  .close-btn {
    right: var(--spacing-32);
  }
  .food-btn {
    left: var(--spacing-32);
  }
}

.drinks-container {
  position: fixed;
  bottom: 0;
  top: 0;
  margin: auto;
  height: fit-content;
  width: 100vw;
}

.drinks-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinks-card {
  width: 260px;
  margin: 0 auto;
  &:hover,
  :focus {
    transform: translateY(-50px);
    scale: (1.1);
    transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.75s;
  }
  @media (max-width: $layout-breakpoint-tablet) {
    width: 40%;
  }
  @media (max-width: $layout-breakpoint-mobile) {
    width: 65%;
  }
}

.drinks-pagination-container {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: var(--spacing-32);
  @media (min-width: $layout-breakpoint-tablet) {
    right: auto;
  }
}

.drinks-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-16);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.drinks-page {
  opacity: 80%;
  button {
    background: none;
    border: none;
    color: $white;
    transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
  }
  transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
}

.active {
  font-weight: 700;
  opacity: 100%;
  button {
    background: none;
    border: none;
    color: $white;
    font-weight: 700;
  }
  transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
}

.navigation-btns--container {
  @media (max-width: $layout-breakpoint-tablet) {
    display: none;
  }
  bottom: 50vh;
  position: fixed;
}

.navigation-btns {
  color: $white;
  position: fixed;
  cursor: pointer;
  img {
    width: var(--spacing-64);
  }
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}
