.hero-container {
  min-height: 100vh;
}

.hero-img-container {
  position: relative;
  overflow: hidden;
  height: 70vh;
  img {
    z-index: 10;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: bottom;
  }
}

.lower-hero-container {
  position: relative;
  padding-bottom: var(--spacing-128);
  @media (max-width: $layout-breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    width: 100%;
  }
}

.blurb-container {
  display: flex;
  padding-top: var(--spacing-128);
  width: 65%;
  gap: var(--spacing-64);
  align-items: flex-start;
  @media (max-width: $layout-breakpoint-tablet) {
    flex-direction: column;
    gap: var(--spacing-32);
    width: 100%;
  }
}

.blurb--title {
  width: 100%;
  white-space: nowrap;
}

.jumping-vector-container {
  position: absolute;
  right: 0;
  top: -25%;
  width: 600px;
  img {
    width: 100%;
  }
  @media (max-width: $layout-breakpoint-desktop-lrg) {
    width: 500px;
  }
  @media (max-width: $layout-breakpoint-desktop) {
    width: 350px;
  }
  @media (max-width: $layout-breakpoint-tablet) {
    position: relative;
    width: 100%;
  }
}

.jumping-vector {
  position: absolute;
  top: 0;
  width: 600px;
  @media (max-width: $layout-breakpoint-tablet) {
    top: -60px;
  }
}

.bold {
  font-weight: 700;
}
