.menu {
  position: relative;
  z-index: 20;
}

.table-container {
  position: fixed;
  bottom: 0;
  height: 100vh;

  img {
    height: 100vh;
    width: 100vw;
  }
  button {
    position: absolute;
    top: var(--spacing-32);
    right: var(--spacing-32);
    background-color: transparent;
    color: $white;
    border: none;
  }
}

.menu-container {
  position: fixed;
  bottom: 20vh;
  width: 100vw;

  @media (max-width: $layout-breakpoint-tablet) {
    top: 20vh;
  }
}

.menu-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-card {
  width: 280px;
  margin: 0 auto;
  &:hover,
  :focus {
    transform: translateY(-50px);
    scale: 1.05;
    transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.75s;
  }
  @media (max-width: $layout-breakpoint-tablet) {
    width: 85%;
  }
}

.ramen {
  margin-bottom: -20vh;
  @media (max-width: $layout-breakpoint-tablet) {
    width: 65%;
    margin-top: -10vh;
  }
}

.sp {
  @media (max-width: $layout-breakpoint-tablet) {
    width: 75%;
  }
}

.dessert {
  width: 500px;
  @media (max-width: $layout-breakpoint-tablet) {
    width: 85%;
    padding-top: var(--spacing-128);
  }
}

.menu-pagination-container {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: var(--spacing-32);
  @media (min-width: $layout-breakpoint-tablet) {
    right: auto;
  }
}

.menu-pagination {
  display: flex;
  gap: var(--spacing-16);
  margin: 0 auto;
  justify-content: center;
  color: $white;
}

.menu-page {
  opacity: 80%;
}

.active {
  font-weight: 700;
  opacity: 100%;
  color: $white;
}
