.menu,
.drinks {
  position: relative;
  z-index: 20;
}

.food-title,
.drinks-title {
  position: absolute;
  top: 10%;
  z-index: 19;
  mix-blend-mode: difference;
  @media (max-width: $layout-breakpoint-mobile) {
    bottom: 0;
  }
}

.table-container {
  position: fixed;
  bottom: 0;
  height: 100vh;
  img {
    height: 100vh;
    width: 100vw;
  }
  .btn {
    position: absolute;
    top: var(--spacing-32);
    background-color: transparent;
    color: $white;
    border: none;
    h3 {
      font-weight: 700;
    }
  }
  .close-btn {
    right: var(--spacing-32);
  }
  .drinks-btn,
  .food-btn {
    left: var(--spacing-32);
  }
}

.menu-container,
.drinks-container {
  position: fixed;
  bottom: 0;
  top: 0;
  margin: auto;
  height: fit-content;
  width: 100vw;
}

.menu-card-container,
.drinks-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-card,
.drinks-card {
  width: 400px;
  margin: 0 auto;
  &:hover,
  &:focus {
    scale: 1.1;
  }
  @media (max-width: $layout-breakpoint-tablet) {
    width: 60%;
  }
  @media (max-width: $layout-breakpoint-mobile) {
    width: 80%;
  }
}

.drinks-card {
  width: 260px;
  @media (max-width: $layout-breakpoint-tablet) {
    width: 40%;
  }
  @media (max-width: $layout-breakpoint-mobile) {
    width: 65%;
  }
}

.ramen {
  width: 230px;
}

.plates {
  width: 280px;
  @media (max-width: $layout-breakpoint-tablet) {
    width: 45%;
  }
  @media (max-width: $layout-breakpoint-mobile) {
    width: 70%;
  }
}

.dessert {
  width: 500px;
  @media (max-width: $layout-breakpoint-tablet) {
    width: 85%;
  }
}

.menu-pagination-container,
.drinks-pagination-container {
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: var(--spacing-32);
  @media (min-width: $layout-breakpoint-tablet) {
    right: auto;
  }
}

.menu-pagination,
.drinks-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-16);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.menu-page,
.drinks-page {
  opacity: 80%;
  button {
    background: none;
    border: none;
    color: $white;
    transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
  }
  transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
}

.active {
  font-weight: 700;
  opacity: 100%;
  button {
    background: none;
    border: none;
    color: $white;
    font-weight: 700;
  }
  transition: cubic-bezier(0.78, 0.01, 0.21, 1) 0.25s;
}

.navigation-btns--container {
  @media (max-width: $layout-breakpoint-tablet) {
    display: none;
  }
  bottom: 50vh;
  position: fixed;
}

.navigation-btns {
  color: $white;
  position: fixed;
  cursor: pointer;
  img {
    width: var(--spacing-64);
  }
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}
