.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
  color: $off-black;
  background-color: $white;
  transition: 0.3s;
  display: block;
  padding-bottom: var(--spacing-32);
}

.mobile-btn-container {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 80vh;
  @media (min-width: $layout-breakpoint-tablet) {
    display: none;
  }
}

.mobile-menu-btn {
  border: none;
  background: $black;
  height: var(--spacing-256);
  width: var(--spacing-64);
  color: white;
  h4 {
    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
  }
  @media (min-width: $layout-breakpoint-tablet) {
    display: none;
  }
}

.nav-container {
  padding-top: var(--spacing-32);
  width: 100vw;
  display: grid;
  @media (min-width: $layout-breakpoint-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  align-items: end;
}

.logo-container {
  justify-self: center;
  img {
    width: calc(var(--spacing-256) * 1.5);
  }
}

.nav-links-container {
  justify-self: end;
  text-align: right;
}

.nav-link {
  button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .nav-links-container,
  .address-container {
    display: none;
  }
  .logo-container {
    justify-self: center;
    img {
      width: calc(var(--spacing-256) * 1.2);
    }
  }
}
