.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11;
  color: $off-black;
  background-color: $white;
  transition: 0.3s;
  display: block;
  padding-bottom: var(--spacing-32);
}

.nav-container {
  padding-top: var(--spacing-32);
  width: 100vw;
  display: grid;
  @media (min-width: $layout-breakpoint-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  align-items: end;
}

.logo-container {
  // position: relative;
  justify-self: center;
  img {
    width: calc(var(--spacing-256) * 1.5);
  }
}

// .cover {
//   position: absolute;
//   background-color: $white;
//   width: 100%;
//   height: 30px;
//   right: 0;
// }
// .hakkapo {
//   top: 50%;
// }
// .chinese {
//   bottom: 0;
// }

.nav-links-container {
  justify-self: end;
  text-align: right;
}

.nav-link {
  button {
    border: none;
    background-color: transparent;
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .nav-links-container,
  .address-container {
    display: none;
  }
  .logo-container {
    justify-self: center;
    img {
      width: calc(var(--spacing-256) * 1.2);
    }
  }
}
